@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(52, 167, 210, 0.4);
    
    padding: 10px;
    border-radius: 20px;
}

input {
    width: 700px;
    height: 45px;
    background-color: #3493d2;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    border: 5px solid white;
    border-radius: 20px;
    font-family: 'Shantell Sans';
}

::placeholder {
    color: white;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/025/401/952/non_2x/blue-ice-cream-pattern-background-seamless-repeating-wallpaper-vector.jpg')
    ;
    position: relative;
    font-family: 'Shantell Sans';
}



img {
    height: 300px;
    width: 300px;
}

.about {
    margin-right: 10px;
    background-color: #3493d2;
    color: white;
    border-radius: 20px;
    padding: 1px;
    cursor: pointer;
    border: 5px solid white;
}
.about p {
    font-size: 30px;
    margin: 5px;
    font-weight: bold;
}


.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3493d2;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
}

.content {
    margin-top: 40px;
    background-color: #3493d2;
    border-radius: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.images, .flavour, .features, .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

