.navbar {
    display: flex;
    justify-content: space-between;
}

input {
    width: 400px;
    height: 35px;
}

body {
    background-color: rgb(0, 93, 105)
    ;
}

.server {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 220px;
}

img {
    height: 300px;
    width: 300px;
}